body {
    background-color: var(--main-background-colour);
    // overflow-x: hidden;
}

.page-header-image {
    width: 200px;
    height: 200px;
}
#page {
    max-width: var(--main-content-max-width);
    margin: auto;
    padding: 0px;
}
#page::before {
    // page background image
    background-image: var(--main-background-image);
    // image masking
    // mask-image: url(@/assets/images/mask/main_page_background_image_big_mask_.png);
    // mask-size: cover;
    // mask-position: center;
    // mask-repeat: no-repeat;
    box-shadow: 0 calc(0px - var(--header-height)) 100px 60px var(--main-background-colour) inset;

    // positioning
    content: "";
    display: block;
    position: absolute;
    image-rendering: initial;
    background-size: cover;
    background-position: top;
    background-position-x: center;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    top: var(--header-height);

    // sizing
    height: 1000px;
    max-height: calc(100vh - var(--header-height));
    width: 100%;
    max-width: 1920px;
    // margin: auto;

    z-index: -1;
    overflow: hidden;
    transition: background-clip 350ms ease-in-out;
}
@media (min-height: 1080px) {
    #page::before {
        // prevents image from going bigger than 1080px if it has the space to grow more
        max-height: 1080px;
    }
}
@media (max-width: 400px) {
    #page::before {
        max-height: 150% !important;
        // reduces box shadow when on a small screen
        box-shadow: 0 calc(0px - var(--header-height)) 50px 30px var(--main-background-colour) inset;
    }
}

.main-container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #a3c1df;
    margin: 0px;
    height: 100%;
    padding: 1rem;
}
