/*

lines with 
  // ~ not used
shouldnt be deleted as they are planned to maybe be used again in the future

*/
/* Root with dark mode (default) styling */
:root {
  --main-background-image: none;
  --main-content-max-width: 1500px;
  --main-background-colour: hsl(300, 3%, 10%);
  --link-colour: var(--main-brand-colour-800);
  --link-colour-hover: var(--main-brand-colour-700);
  --main-text-colour: #ffffff;
  --main-text-colour-gradient: var(--main-brand-colour-600);
  --main-text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.6);
  --main-headings-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  --headings-text-colour: var(--main-brand-colour-700);
  --main-text-size: 17px;
  --h1-text-size: 40px;
  --input-switch-background: #f1f7f9;
  --input-switch-background-circle: #111212;
  --input-switch-background-active: var(--main-brand-colour-600);
  --focus-border-colour: #0060df;
  --focus-border-width: 3px;
  --focus-border-style: solid;
  --focus-border-radius: 10px;
  --header-height: 60px;
  --header-main-background: hsl(300, 5%, 20%);
  --header-second-background: hsl(300, 5%, 15%);
  --header-main-text: hsl(0, 0%, 100%);
  --header-main-text-hover: hsla(0, 0%, 100%, 0.8);
  --header-accent-light: var(--main-brand-colour-600);
  --header-accent-dark: var(--main-brand-colour-400);
  --section-background-colour: hsla(300, 5%, 44%, 0.4);
  --section-background-colour-blur: hsla(300, 2%, 40%, 0.2);
  --section-background-blur-amount: 3px;
  --section-background-border-radius: 25px;
  --section-box-shadow-soft: 0px 10px 35px -4px rgba(0, 0, 0, 0.7);
  --theme-invert-filter: invert();
  --theme-invert-filter-opposite: none();
  --scrollbar-thickness: 16px;
  --scrollbar-thickness-thin: 8px;
  --scrollbar-handle-colour: #4c4d4d;
  --scrollbar-handle-colour-hover: #606161;
  --scrollbar-handle-colour-grabbed: #a6a7a7;
  --scrollbar-background-colour: #191a1a;
  --scrollbar-button-background-colour: #191a1a;
  --scrollbar-button-background-colour-hover: #323334;
  --scrollbar-button-background-colour-grabbed: #4d4e4e;
  --scrollbar-button-arrow-colour: #4c4d4d;
  --scrollbar-button-arrow-colour-hover: #606161;
  --image-error-background-colour: hsl(0, 54%, 56%);
  --image-error-cross-colour: var(--main-brand-colour-300);
  --image-error-opacity: 0.4;
  --image-loading-circle-colour: var(--main-brand-colour-600);
  --image-loading-opacity: 0.4;
  --image-loading-circle-opacity: 0.8;
  --main-brand-colour-hue: 333;
  --main-brand-colour-saturation: 35%;
  --main-brand-colour-test: hsl(333, 35%, 50%);
  --main-brand-colour-100: hsl(var(--main-brand-colour-hue), var(--main-brand-colour-saturation), 10%);
  --main-brand-colour-200: hsl(var(--main-brand-colour-hue), calc(var(--main-brand-colour-saturation) + 2%), 20%);
  --main-brand-colour-300: hsl(var(--main-brand-colour-hue), calc(var(--main-brand-colour-saturation) + 2%), 30%);
  --main-brand-colour-400: hsl(var(--main-brand-colour-hue), calc(var(--main-brand-colour-saturation) + 4%), 40%);
  --main-brand-colour-500: hsl(var(--main-brand-colour-hue), calc(var(--main-brand-colour-saturation) + 6%), 50%);
  --main-brand-colour-600: hsl(var(--main-brand-colour-hue), calc(var(--main-brand-colour-saturation) + 8%), 60%);
  --main-brand-colour-700: hsl(var(--main-brand-colour-hue), calc(var(--main-brand-colour-saturation) + 8%), 70%);
  --main-brand-colour-800: hsl(var(--main-brand-colour-hue), calc(var(--main-brand-colour-saturation) + 10%), 80%);
}

::-moz-selection {
  background-color: hsla(333deg, 32%, 30%, 0.7);
  color: white;
}

::selection {
  background-color: hsla(333deg, 32%, 30%, 0.7);
  color: white;
}

/* Root with light mode styling */
@media (max-width: 850px) {
  :root {
    --header-height: 70px;
    --h1-text-size: 30px;
  }
}/*# sourceMappingURL=global_variables.css.map */