// scrollbar styling

// Styling will apply to all elements that are scrollable
// To give an element a thin scrollbar give it the class "thin-scrollbar" (element must already be scrollable)

:root {
    // all settings for scrollbars
    --scrollbar-thickness: 16px; // webkit scrollbar thickness
    --scrollbar-thickness-thin: 8px; // webkit thin scrollbar thickness

    --scrollbar-handle-colour: var(--main-brand-colour-300); // scrollbar handle colour
    --scrollbar-handle-colour-hover: var(--main-brand-colour-400); // webkit scrollbar handle hover
    --scrollbar-handle-colour-grabbed: var(--main-brand-colour-500); // webkit scrollbar handle grabbed

    --scrollbar-background-colour: var(--main-brand-colour-100); // scrollbar background colour

    --scrollbar-button-background-colour: #191a1a; // webkit scrollbar button background
    --scrollbar-button-background-colour-hover: #323334; // webkit scrollbar button background hover
    --scrollbar-button-background-colour-grabbed: #4d4e4e; // webkit scrollbar button background grabbed

    --scrollbar-button-arrow-colour: var(--scrollbar-handle-colour); // webkit scrollbar arrow colour
    --scrollbar-button-arrow-colour-hover: var(--scrollbar-handle-colour-hover); // webkit scrollbar arrow hover
    --scrollbar-button-arrow-colour-grabbed: var(--scrollbar-handle-colour-grabbed); // webkit scrollbar arrow grabbed
}

// TODO make sure all styling works properly

// - Standard method (FireFox)
* {
    scrollbar-color: var(--scrollbar-handle-colour) var(--scrollbar-background-colour);
    scrollbar-width: auto;
}
// - webkit method (basically every other browser)
::-webkit-scrollbar {
    // width (regular size)
    width: var(--scrollbar-thickness);
}
.thin-scrollbar {
    // thin scrollbar styling (standard)
    scrollbar-color: var(--scrollbar-handle-colour) var(--scrollbar-background-colour);
    scrollbar-width: thin;
}
.thin-scrollbar::-webkit-scrollbar {
    // thin scrollbar styling (webkit)
    height: var(--scrollbar-thickness-thin);
    width: var(--scrollbar-thickness-thin);
}
.thin-scrollbar::-webkit-scrollbar-button {
    // remove arrow buttons
    display: none;
}

::-webkit-scrollbar-track {
    // track
    background-color: var(--scrollbar-background-colour);
}
::-webkit-scrollbar-thumb {
    // handle
    background-color: var(--scrollbar-handle-colour);
}
::-webkit-scrollbar-thumb:hover {
    // handle hover
    background-color: var(--scrollbar-handle-colour-hover);
}
::-webkit-scrollbar-thumb:active {
    // handle grabbed
    background-color: var(--scrollbar-handle-colour-grabbed);
}
::-webkit-scrollbar-button {
    // arrow button
    border-style: solid;
    height: var(--scrollbar-thickness);
    width: var(--scrollbar-thickness);
    background-color: var(--scrollbar-button-background-colour);
}
::-webkit-scrollbar-button:hover {
    // arrow button hover
    background-color: var(--scrollbar-button-background-colour-hover);
}

// up button
::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 calc(var(--scrollbar-thickness) / 2) var(--scrollbar-thickness) calc(var(--scrollbar-thickness) / 2);
    border-color: transparent transparent var(--scrollbar-button-arrow-colour) transparent;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent var(--scrollbar-button-arrow-colour-hover) transparent;
}
::-webkit-scrollbar-button:vertical:decrement:active {
    border-color: transparent transparent var(--scrollbar-button-arrow-colour-grabbed) transparent;
}

// down button
::-webkit-scrollbar-button:vertical:increment {
    border-width: var(--scrollbar-thickness) calc(var(--scrollbar-thickness) / 2) 0 calc(var(--scrollbar-thickness) / 2);
    border-color: var(--scrollbar-button-arrow-colour) transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: var(--scrollbar-button-arrow-colour-hover) transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:active {
    border-color: var(--scrollbar-button-arrow-colour-grabbed) transparent transparent transparent;
}

// left button
::-webkit-scrollbar-button:horizontal:decrement {
    border-width: calc(var(--scrollbar-thickness) / 2) var(--scrollbar-thickness) calc(var(--scrollbar-thickness) / 2) 0;
    border-color: transparent var(--scrollbar-button-arrow-colour) transparent transparent;
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
    border-color: transparent var(--scrollbar-button-arrow-colour-hover) transparent transparent;
}
::-webkit-scrollbar-button:horizontal:decrement:active {
    border-color: transparent var(--scrollbar-button-arrow-colour-grabbed) transparent transparent;
}

// right button
::-webkit-scrollbar-button:horizontal:increment {
    border-width: calc(var(--scrollbar-thickness) / 2) 0 calc(var(--scrollbar-thickness) / 2) var(--scrollbar-thickness);
    border-color: transparent transparent transparent var(--scrollbar-button-arrow-colour);
}
::-webkit-scrollbar-button:horizontal:increment:hover {
    border-color: transparent transparent transparent var(--scrollbar-button-arrow-colour-hover);
}
::-webkit-scrollbar-button:horizontal:increment:active {
    border-color: transparent transparent transparent var(--scrollbar-button-arrow-colour-grabbed);
}

::-webkit-resizer {
    width: var(--scrollbar-thickness);
    height: var(--scrollbar-thickness);

    // icon for sizer in text area elements
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAABhmlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV9TS/2oONhBxCFDdbIgKiK6SBWLYKG0FVp1MLn0C5o0JCkujoJrwcGPxaqDi7OuDq6CIPgB4ubmpOgiJf4vKbSI9eC4H+/uPe7eAUKtxFSzYwxQNctIRCNiOrMq+l/hQxd6MIsZiZl6LLmYQtvxdQ8PX+/CPKv9uT9Hr5I1GeARieeYbljEG8RTm5bOeZ84yAqSQnxOPGrQBYkfuS67/MY577DAM4NGKjFPHCQW8y0stzArGCrxJHFIUTXKF9IuK5y3OKulCmvck78wkNVWklynOYQolhBDHCJkVFBECRbCtGqkmEjQfqSNf9Dxx8klk6sIRo4FlKFCcvzgf/C7WzM3Me4mBSKA78W2P4YB/y5Qr9r297Ft108A7zNwpTX95Row/Ul6tamFjoC+beDiuqnJe8DlDjDwpEuG5EhemkIuB7yf0TdlgP5boHvN7a2xj9MHIEVdLd8AB4fASJ6y19u8u7O1t3/PNPr7Ae8NctkkyfdXAAAAXUlEQVQokZ3POQ7AMAgFUVIZH9GpwPe/w6SLstoGJMon/dkAiZ7WSmu7CBD6oop5B4jhKwzhJyyqeWje83A6ewSHeAZ/m1fgZ/MqfM2OwBuOwrM5A817HgIiWQjIAYkvFHgU5tFwAAAAAElFTkSuQmCC");

    background-color: var(--scrollbar-button-background-colour);
}
